version: '3.8'

services:
  portfolio:
    image: nginx:alpine
    container_name: portfolio
    restart: unless-stopped
    volumes:
      - ./www:/usr/share/nginx/html:ro
    networks:
      - network_services 

networks:
  network_services:
    external: true
    name: network-services_network_services
